<%- include("header")-%>

<!-- html태그는 콘텐츠이다=>스클립트 태그로 너무 많은 로직을 담으면 안된다 -->
<div class="box" id="heading">
  <h1><%=listTitle%></h1>
</div>
<div class="box">
  <% lists.forEach(function(list) { %>
    <form class="item" action="/delete" method="post">
    <div class="item">
      <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=list._id%>"/>
      <p><%=list.name %></p>
    </div>
    </form>
    <% }) %>

    <form class="item" action="/" method="POST">
      <input type="text" name="toDo" placeholder="write" />
      <button type="submit" name="button" value="<%=listTitle%>">+</button>
    </form>
  </lists.length;i++)>
</div>

<%- include("footer")-%>
